<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Missions Index Page</title>
</head>
<body>
  <h1>Missions Index Page</h1>
  <ul class="missions">
    <% for (i = 0; i < marsMissions.length; i++) { %>
        <li><a href="/missions/<%= i %>"><%=marsMissions[i].name%></a></li> 
    <% } %>  
  </ul>
</body>
</html>
