<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> <%= mission.name %> </h1>
  <p><strong>Launch Date:</strong> <%= mission.launchDate %></p>
  <p><strong>Operator:</strong> <%= mission.operator %></p>
  <p><strong>Mission Type:</strong> <%= mission.missionType %></p>
</body>
</html>